@import './variables.scss';

header {
    nav {
        position: fixed;
        z-index: 20;
        background-color: $color1;
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: height 0.8s;

        .menu-toggle {

            display: none;
        }

        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            list-style: none;
            width: 100%;

            li {
                font-size: 30px;

                a {
                    text-decoration: none;
                    font-style: none;
                    color: $color2;
                    transition: all 0.3s;
                }

                #loginButton,
                #profilButton,
                #disconnectButton {
                    margin-bottom: 3%;
                    @extend .bouton;
                    background-color: unset;
                    border: solid $color4 1px;
                    color: $color4;
                    font-size: 18px;
                }

                #disconnectButton {
                    border: solid $color4 2px;
                    color: $color1;
                    background-color: $color4;
                }

                #loginButton:hover,
                #profilButton:hover {
                    background-color: $color4;
                    border: solid $color4 2px;
                    color: $color1;
                }

                #disconnectButton:hover {
                    background-color: unset;
                    border: solid $color4 1px;
                    color: $color4;
                }

                button {
                    transition: all 0.3s;

                    &:hover {
                        transform: scale(1.1);
                    }
                }

                a:hover {
                    color: $color3;
                    text-decoration: underline;
                }

                &:active,
                &:focus {
                    transform: scale(0.9);
                }
            }
        }

        // Media queries pour les tablettes
        @media screen and (max-width: 768px) {
            ul li {
                font-size: 20px;
            }
        }

        // Media queries pour les mobiles
        @media screen and (max-width: 480px) {
            height: 100px;
            



            &.menu-close {
                transition: height 3s ease ;
                position: relative;
                .menu-toggle {
                    position: absolute;
                    left: 10%;
                    display: block;
                   
                    
                    background: none;
                    border: none;
                    svg{
                        height: 30px;
                    }
                }

                ul {
                    display: none;
                }
            }

            // Style des boutons sur mobile
            &.menu-open {
               padding: 50px;
                position: relative;

                .menu-toggle {
                    position: absolute;
                    top: 50%;
                    left: 10%;
                    display: block;
                    background: none;
                    border: none;
                    width: 50px;
                }

                ul {
                   
                    
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    text-align: center;

                    li {
                        a {
                            font-size: 18px;
                           

                        }

                        #loginButton {
                            padding: 5px 10px;
                            border-radius: 200px;
                            font-size: 10px;
                        }

                        #profilButton {
                            padding: 5px 10px;
                            border-radius: 200px;
                            font-size: 10px;
                        }

                        #disconnectButton {
                            padding: 5px 10px;
                            border-radius: 200px;
                            font-size: 10px;
                        }
                    }
                }
            }
        }

    }

    // Sélecteur de hover pour la navigation
    nav:hover {
        height: 150px;
    }
}