@import './variables.scss';

header {
    nav {
        position: fixed;
        z-index: 20;
        background-color: $color1;
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: height 0.8s;

        .menu-toggle {

            display: none;

            svg {
                color: $color3;
            }
        }

        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            list-style: none;
            width: 100%;

            li {
                font-size: 30px;

                img {
                    height: 90px;
                }

                a {
                    text-decoration: none;
                    font-style: none;
                    color: $color2;
                    transition: all 0.3s;
                }

                #loginButton,
                #profilButton,
                #disconnectButton {
                    margin-bottom: 3%;
                    @extend .bouton;
                    background-color: unset;
                    border: solid $color4 1px;
                    color: $color4;
                    font-size: 18px;
                }

                #disconnectButton {
                    border: solid $color4 2px;
                    color: $color1;
                    background-color: $color4;
                }

                #loginButton:hover,
                #profilButton:hover {
                    background-color: $color4;
                    border: solid $color4 2px;
                    color: $color1;
                }

                #disconnectButton:hover {
                    background-color: unset;
                    border: solid $color4 1px;
                    color: $color4;
                }

                button {
                    transition: all 0.3s;

                    &:hover {
                        transform: scale(1.1);
                    }
                }

                a:hover {
                    color: $color3;
                    text-decoration: underline;
                }

                &:active,
                &:focus {
                    transform: scale(0.9);
                }
            }
        }

        &:hover {
            height: 150px;
        }

    }

    ///////////////////////////////////////////////////////////////////////////////////////////////////

    // Media queries pour les tablettes
    @media screen and (max-width: 768px) {
        nav {
            ul {
                li {

                    #loginButton,
                    #profilButton,
                    #disconnectButton {
                        padding: 8px 12px;
                        border-radius: 200px;
                        font-size: 15px;

                    }

                    img {
                        height: 50px;
                    }

                    a {
                        font-size: 20px;
                    }
                }
            }


        }

    }

    // Media queries pour les mobiles
    @media screen and (max-width: 480px) {
        nav {

            &.menu-close {
                height: 90px;

                .menu-toggle {
                    position: absolute;
                    left: 10%;
                    display: block;
                    background: none;
                    border: none;


                    img {
                        width: 60px;
                    }


                    // svg {
                    //     height: 30px;
                    // }
                }

                .menu-toggle:hover {
                    img {
                        transform: scale(1.2);
                    }
                }

                ul {
                    max-height: 0;
                    opacity: 0;

                    li {
                        img {
                            display: none;
                        }
                    }
                }
            }

            // Style des boutons sur mobile
            &.menu-open {
                height: 250px;

                .menu-toggle {
                    position: absolute;
                    top: 10%;
                    left: 3%;
                    display: block;
                    background: none;
                    border: none;
                    width: 50px;

                    svg {
                        height: 30px;
                    }
                }

                .menu-toggle:hover {
                    transform: scale(1.2);
                }

                ul {
                    height: auto;
                    max-height: 200px;
                    opacity: 1;

                    li {
                        height: 30px;

                        img {
                            display: none;
                        }
                    }
                }
            }

            & {
                ul {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    max-height: 0;
                    opacity: 0;
                    overflow: hidden;
                    transition: max-height 2s ease-out, opacity 0.5s ease-out;

                    li {
                        display: flex;
                        align-items: center;

                        a {
                            font-size: 18px;
                        }

                        #loginButton,
                        #profilButton,
                        #disconnectButton {
                            padding: 5px 10px;
                            border-radius: 200px;
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}