@import './variables.scss';

* {
  margin: 0;
  padding: 0;
}

.home-page-main {
  background-color: $color3;
  text-align: center;

  #logo {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color4;

    .imgContainer {
      width: 900px;
      display: flex;
      align-items: center;
      justify-content: center;

      h1 {
        font-size: 110px;
        color: #ffffff;
        opacity: 0.5;
        position: absolute;
        font-family: 'Macondo', cursive;
        text-shadow: -1px 0 $color1, 0 1px $color1, 1px 0 $color1, 0 -1px $color1;

      }

      img {
        width: 400px;
        transition: width 100ms linear, display;
      }
    }

    .hover-effect-on-scroll {

      h1 {
        opacity: 1;
        color: $color3;
        z-index: 1;
      }

      img {
        width: 25%;
        z-index: 2;
      }
    }
  }

  #diaporama {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    #diaporamaContainer {
      position: relative;
      width: 800px;
      height: 800px;

      button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: white;
        background-color: $color1;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: rgba(0, 0, 0, 0.7);
        }
      }

      #imageBtnPrev {
        left: 20px;
      }

      #imageBtnNext {
        right: 20px;
      }

      #diaporamaImage {

        height: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  #sectionReviews {
    height: auto;
    width: 100%;
    display: grid;
    
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    text-align: center;
  
    

    #circle {
      background-color: aqua;
      height: 50px;
      width: 50px;
      border-radius: 30px;
    }

    section {
      border: 1px $color1 solid;
      background: rgba($color1, .1);
      
      height: 100px;
      p {
        color: $color2;

      }
    }
    button{
      background-color: red;
      width: 200px;
     

    }

  }
}