@import './variables.scss';

* {
  margin: 0;
  padding: 0;
}

.home-page-main {
  background-color: $color3;
  text-align: center;

  h2 {
    font-size: 30px;
    text-decoration: underline;
    color: $color1;
  }

  #logo {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color4;

    .imgContainer {
      width: 900px;
      display: flex;
      align-items: center;
      justify-content: center;

      h1 {
        font-size: 110px;
        color: #ffffff;
        opacity: 0.5;
        position: absolute;
        font-family: 'Macondo', cursive;
        text-shadow: -1px 0 $color1, 0 1px $color1, 1px 0 $color1, 0 -1px $color1;

      }

      img {
        width: 400px;
        transition: width 100ms linear, display;
      }
    }

    .hover-effect-on-scroll {

      h1 {
        opacity: 1;
        color: $color3;
        z-index: 1;
      }

      img {
        width: 25%;
        z-index: 2;
      }
    }
  }

  #diaporama {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    #diaporamaContainer {
      position: relative;
      width: 800px;
      height: 800px;

      button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: white;
        background-color: $color1;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: rgba(0, 0, 0, 0.7);
        }
      }

      #imageBtnPrev {
        left: 20px;
      }

      #imageBtnNext {
        right: 20px;
      }

      #diaporamaImage {

        height: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  #sectionReviews {
    height: auto;
    width: 100%;
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    

    grid-row-gap: 4px;
    text-align: center;

   
    .reviewArticle {

      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;


      section {
        min-width: 500px;
        max-width: 700px;
        h4{
          color: $color1;
          text-decoration: underline;
        }
        text-align: start;

        p{
          color: $color2;
        
        }
        

      }
    }
  }

  #title-review {
    margin: 50px;
  }

  #button-review {
    background-color: $color4;
    border: none;
    padding: 10px 20px;
    border-radius: 200px;
    color: $color1;
    margin: 50px;
  }

  #button-review:hover {
    background-color: unset;
    border: solid $color4 1px;
    color: $color4;
  }

  .contact-page {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .contact-details {
      display: flex;
      align-items: center;
      justify-content: space-around;

      .contact-item {
        display: flex;
        flex-direction: column;
        height: 200px;
        width: 300px;
        font-size: 18px;
        color: $color2;

        h4 {
          padding-bottom: 25px;
          color: $color1;
        }

        svg {

          font-size: 35px;
          color: $color2;
          padding-bottom: 20px;
        }

      }
    }

    .social-links {
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        font-size: 35px;
        padding-left: 50px;
        padding-right: 50px;
        color: $color2;
      }
    }
  }
}