@import './variables.scss';

.loginpage-main {
  height: 100vh;
  background-color: $color3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  #sectionLogin {
    
    form {
      background-color: #f8f9fa;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      width: 500px;
      height: 300px;
      display: flex;
      
      justify-content: center;
      flex-direction: column;
      


      label {
        margin-bottom: 10px;
        font-weight: bold;

      }

      input {
        width: 95%;
        padding: 10px;
        border: 1px solid #ced4da;
        border-radius: 5px;
        margin-top: 5px;
      }

      button {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: $color5;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        margin-top: 10px;

        &:hover {
          background-color: $color1;
        }
      }
      p {
        color: $color6;

        &:last-of-type {
          // Styles spécifiques pour le dernier paragraphe
          transition: color 0.3s ease; // Transition pour changer la couleur du texte
          cursor: pointer; 
          color: black;
          text-decoration: underline;
        }

        &:last-of-type:hover {
          // Styles lors du survol du dernier paragraphe
          color: red; 
        }
      }

    }
  }
}