@import './variables.scss';

.loginpage-main {
  height: 100vh;
  background-color: $color3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  #sectionLogin {
    form {
      background-color: #f8f9fa;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      width: 500px;
      height: 300px;
      display: flex;
      justify-content: center;
      flex-direction: column;

      label {
        margin-bottom: 10px;
        font-weight: bold;
        color: $color1;
      }

      input {
        width: 95%;
        padding: 10px;
        border: 1px solid $color1;
        border-radius: 5px;
        margin-top: 5px;
      }

      button {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: $color5;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        margin-top: 10px;

        &:hover {
          background-color: $color1;
        }
      }

      p {
        color: $color6;

        &:last-of-type {
          transition: color 0.3s ease;
          cursor: pointer;
          color: black;
          text-decoration: underline;
        }

        &:last-of-type:hover {
          color: red;
        }
      }
    }
  }
}

// Media queries pour les tablettes
@media screen and (max-width: 768px) {
  .loginpage-main {
    padding: 20px;

    #sectionLogin {
      form {
        width: 100%;
        padding: 15px;
      }
    }
  }
}

// Media queries pour les mobiles
@media screen and (max-width: 480px) {
  .loginpage-main {
    padding: none;
    align-items: center;



    #sectionLogin {
      display: flex;
      align-items: center;
      width: 90%;

      form {
        width: 100%;


        input {
          width: 90%;

        }

        button {
          margin-bottom: 10px;
        }
      }
    }
  }
}