@import './variables.scss';

main {

  #reviewArticle {
    background-color: $color5;



    padding: 15px;


    p {
      color: $color2;
      margin: 0;

      &:first-child {
        font-size: 18px;
        margin-bottom: 10px;
      }

      &:last-child {
        font-size: 14px;
        color: #555;
      }
    }
  }

  p {
    font-size: 18px;
    color: #555;
  }
}