@import './variables.scss';

#UserPageMain {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  background-color: $color4;

  .user-profile {
    margin-bottom: 20px;

    display: flex;
    text-align: center;
    flex-direction: column;
    width: 60%;

    h2 {
      margin-bottom: 10px;
    }

    div {
      height: 20vh;
      display: flex;
      align-items: center;
      
      .user-profile-form {
        margin-top: 50px;
       display: flex;
       align-items: center;

        label {
          margin-bottom: 10px;

          input {
            margin-top: 5px;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
          }
        }

        .btn-profile {
         background-color: $color1;
         color: $color2;
         margin: 10px;
        
          @extend .bouton;
          padding: 5px 10px;
          
          &:hover {
            background-color: $color5;
          }
        }
      }
    }
  }

  .review-container {
    h1 {
      margin-bottom: 10px;
    }

    .review-item {
      margin-bottom: 10px;

      input {
        margin-right: 10px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 800px;
        height: auto;
      }

      .btn-delete-review {
        padding: 5px 10px;
        border: none;
        background-color: #dc3545;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: #bd2130;
        }
      }
    }
  }
}