$color1:#4B534E;
$color2 :#FBFAF5;
$color3: rgb(130, 151, 136);
$color4:rgb(216, 226, 220);
$color5:#9D8189;
$color6:rgb(75, 83, 78);
@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Roboto:ital,wght@0,400;1,300&display=swap');

.bouton {
    border: none;
    padding: 10px 20px;
    border-radius: 200px;

    cursor: pointer;
}

.mobileBouton {
    border: none;
    padding: 5px 10px;
    border-radius: 200px;
    font-size: 10px;

    cursor: pointer;
}

body {
    font-family: 'Arial', sans-serif;

    margin: 0;
    padding: 0;
    
}

