$color1:#4B534E;
$color2 :#FBFAF5 ;
$color3: #829788;
$color4:#D8E2DC;
$color5:#9D8189;
$color6:#4B534E;
@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Roboto:ital,wght@0,400;1,300&display=swap');
.bouton {
    border: none;
    padding: 10px 20px;
    border-radius: 200px;
   
    
}

// body {
//     font-family: 'Arial', sans-serif;
//     background-color: $backgroundColor;
//     margin: 0;
//     padding: 0;
//   }